<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StandardizedTestSystem</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>Index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>myservlet.control.Test_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>myservlet.control.Upload_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadChangeServlet</servlet-name>
    <servlet-class>myservlet.control.Upload_Change_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadChangeServlet</servlet-name>
    <url-pattern>/uploadChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addQuestionsServlet</servlet-name>
    <servlet-class>myservlet.control.Add_Questions_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuestionsServlet</servlet-name>
    <url-pattern>/addQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkQuestionsServlet</servlet-name>
    <servlet-class>myservlet.control.Check_Questions_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkQuestionsServlet</servlet-name>
    <url-pattern>/checkQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeQuestionsServlet</servlet-name>
    <servlet-class>myservlet.control.Change_Questions_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeQuestionsServlet</servlet-name>
    <url-pattern>/changeQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>autoSubmitServlet</servlet-name>
    <servlet-class>myservlet.control.Auto_Submit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autoSubmitServlet</servlet-name>
    <url-pattern>/autoSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chapterPractiseServlet</servlet-name>
    <servlet-class>myservlet.control.Chapter_Practise_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapterPractiseServlet</servlet-name>
    <url-pattern>/chapterPractiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>randomPractiseServlet</servlet-name>
    <servlet-class>myservlet.control.Random_Practise_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>randomPractiseServlet</servlet-name>
    <url-pattern>/randomPractiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>endTestServlet</servlet-name>
    <servlet-class>myservlet.control.End_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>endTestServlet</servlet-name>
    <url-pattern>/endTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>beginTestServlet</servlet-name>
    <servlet-class>myservlet.control.Begin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beginTestServlet</servlet-name>
    <url-pattern>/beginTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>beginTeacherServlet</servlet-name>
    <servlet-class>myservlet.control.Teacher_Begin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beginTeacherServlet</servlet-name>
    <url-pattern>/beginTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>myservlet.control.Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retestServlet</servlet-name>
    <servlet-class>myservlet.control.Retest_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retestServlet</servlet-name>
    <url-pattern>/retestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auditRegisterServlet</servlet-name>
    <servlet-class>myservlet.control.Audit_Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auditRegisterServlet</servlet-name>
    <url-pattern>/auditRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>authImg</servlet-name>
    <servlet-class>myservlet.control.AuthImg_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authImg</servlet-name>
    <url-pattern>/authImg</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>myservlet.control.Message_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/messageServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>noticeServlet</servlet-name>
    <servlet-class>myservlet.control.Notice_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeServlet</servlet-name>
    <url-pattern>/noticeServlet</url-pattern>
  </servlet-mapping>
</web-app>
